body{
	text-align: center;
	color: midnightblue;
	font-family: Helvetica Neue;
	background: repeat url(/bg.gif) center top;
}
div img{
	border-radius: 60px 0 60px 0;
	box-shadow: 10px 10px 5px 5px #DADDE5;
	display: inline-block;
}

#totalcart{
font-size: 30px;
font-family: 'Tangerine', serif;
font-weight: bold;
}

#reg{
	float: right;
	/*width: 30;
	height: 30;
	padding-top: 20px;*/
	font-size: 16px;
}
.Login{
	height: 30px;
	border-radius: 15px;

}
h3{
   /*font-family: 'Cairo', sans-serif;*/
   font-family: 'Changa', sans-serif;
}
h1{
	text-align: center;
	font-family: 'Tangerine', serif;
    font-size: 48px;
    background-color: #f5fffa;
    
}
button{
	font-family: 'Cairo', sans-serif;
}
.prd {
	display:inline-block;
	margin: 5px;
	padding: 40px;


}

#cartImg{
	position: absolute;
	right: 16px;
	top: 66px;
}

#itemsCount{
	position: absolute;
	right: 66px;
	top: 56px;
}
#totalcart{
	position: absolute;
	right: 16px;
	top: 89px;
}
.prdpic{
	padding: 5000px;
	border: solid 40px;
}
